.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__taskBody {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;

}

.list__taskBody--done {
    text-decoration: line-through;
}